.result {
  height: 150px;
  background: linear-gradient(to top right, #ff0066 0%, #ff9933 100%); 
   width: 100%;
  
  
}

.result p {
  font-size: 55px;
  margin: auto;
  padding-top: 20px;
  float: right;
  font-family: Comic Sans MS;
  color:#fff;
  
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  box-shadow: 10px 10px 10px 10px #bfbfbf;
  text-align: center;
  padding-top: 3px;
 
}

.button {
  display: block;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
 
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color:#404040;
  background:#fff;
  border: none;
  
}

button1 {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color:#404040;
  background:#000;
  border: none;
  
}
.button1 {
  display: block;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  
 
}